.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 20px;
  }


  .item :hover {
    color: gold;
  }

.item a{
  text-decoration: none;
  margin-left: 10px;
  color: #fff; 
}

.item a.active {
  color: gold;
}
