.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {

    padding: 10px;
}

.dialogsItems a {
    text-decoration: none;
}

.avaFriend {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.dialog {
    position: relative;
}

.dialog a:hover {
    color: gold;
}

.active {
    color: gold;
}

.messages {
    padding: 10px;
}

.myMessage {
    margin-left: 50%;
    background-color: green;
    width: 40%; 
    margin-top: 10px;
}

.friendMessage {
    background-color: gray;
    width: 40%;
    margin-top: 10px;
}

.name {
   position: absolute;
   top: 10%;
   left: 35px;
}

